{% extends 'base.html' %}
{% block content %}


        <form action="{% url 'minha_consulta' %}" method="post">
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </div>
                {% for errors in field.errors %}
                    <section class = "alert alert-danger" role="alert">
                        {{ field.errors }}
                    </section>
                {% endfor %}
            {% endfor %}
            {% csrf_token %}
            <br><input type="submit" value="ok" class = "btn btn-success">
        </form>
{% endblock %}}